/* VARIABLES */
:root {
    --mainColor: rgb(196, 253, 255);
}
p{
    font-family: 'Supermercado One', cursive;
    font-weight: 100;
    color: var(--mainColor);
}


/* COMPONENTS */
.App {

}
.App >* {
    position: relative;
    bottom: 10px;
    margin-left: 0.5ch;
}

/* Icon */

/* Main Container */
.main-container {
    border-radius: 1vw;
    height: 160em;

    background: linear-gradient(to bottom, black, rgb(19, 50, 65));
    box-shadow: 0px 0px 7px 3px rgba(0, 0, 0, 0.925);
}
.main-container >* {
    margin-left: 2ch;
    position: relative;
    top: 5ch;
}


/* HEADER */
.Header {
    height: 27ch;
    width: 97%;

    /* background-color: aqua; */
}

.nav-bar {
    height: 7.5ch;
    width: 96%;
    display: grid;

    position: fixed;
    top: 16px;
    left: 25px;

    background: linear-gradient(to right, rgb(9, 12, 14), rgb(3, 33, 46));

    border: 1px solid rgb(8, 80, 109);
    border-radius: 1vw;

    z-index: 3; /* specific layer */
}
.n-title {
    font-family: 'Supermercado One', cursive;
    font-weight: 600;
    color: var(--mainColor);

    grid-row: 1;
    grid-column-start: 1;
    grid-column-end: 3;

    position: relative;
    left: 1ch;
    bottom: 5px;

    /* text-shadow: 0px 0px 10px white; */
    text-shadow: 0px 0px 15px rgb(47, 110, 146);
}
.n-nav {
    grid-row: 1;
    grid-column-start: 6;
    grid-column-end: 9;

    position: relative;
    top: 8px;
    right: 8px;

    height: 6ch;
    display: flex;
    /* background-color: aliceblue; */
}
.n-nav >* {
    font-family: 'Supermercado One', cursive;
    font-weight: 200;
    color: rgb(196, 238, 240);
    
    position: relative;
    top: 8px;


    height: 25px;
    margin-left: 10px;

    border: 1px solid rgb(8, 80, 109);
    border-radius: 1vw;
    background-color: rgb(42, 52, 54);
    box-shadow: 0px 0px 5px 2px rgba(0, 0, 0, 0.418);
    padding-top: 5px;
}
.n-item:hover {
    background-color: rgb(22, 32, 32);
}
.n-item >* {
    position: relative;
    top: 0px;
}

.welcome-container {
    margin-top: 1ch;
    /* background-color: red; */
}
.welcome-banner {
    height: 10ch;
    width: 100%;

    position: relative;
    top: 6ch;

    background-color: rgb(249, 250, 250);

}
.welcome-paragraph {
    margin-top: 7.5ch;
    position: relative;
    left: 1ch;

    color: var(--mainColor);
    border-radius: 1vw;
    background: rgba(42, 57, 58, 0.589);
}
.w-para {
    font-family: 'Supermercado One', cursive;
    font-weight: 200;
    color: var(--mainColor);
}
.w-box {
    position: relative;
    top: 3px;

    height: 74px;
    background: linear-gradient(to right, rgb(20, 26, 31), rgb(5, 48, 66));
}
.w-prompt {
    position: relative;
    top: 20px;
    left: 20px;

    font-family: 'Supermercado One', cursive;
    font-weight: 600;
    color: var(--mainColor);

    text-shadow: 0px 0px 2px  white;
}


/* BODY A */
.bodyA-container {
    height: 79ch;
    width: 97%;
}
.a-container {
    position: relative;
    top: 5px;
    left: 15px;

    width: 98%;
    height: 72ch;

    border-radius: 1vw;
    border: 1px solid rgb(8, 8, 8);
    box-shadow: 0px 0px 15px 2px rgb(30, 69, 92);
    
    background: rgb(12, 24, 29);

    /* background: rgb(243, 227, 86); */
    z-index: 1;
}
.aa-container {
    position: relative;
    top: 1ch;
    left: 1ch;

    width: 98.7%;
    height: 96%;
    border-radius: 1vw;
    border: 1px solid rgb(16, 79, 104);
    background-color: rgb(29, 32, 32);
}
.aa-title-box {
    position: relative;
    top: -1ch;
    left: 1ch;

    width: 200px;
    height: 50px;
    border: 1px solid black;
    border-radius: 1vw;

    /* border: 1px solid rgb(8, 80, 109); */
    border: 1px solid white;
    background: linear-gradient(to right, rgb(9, 12, 14), rgb(3, 33, 46));
}
.aa-title {
    position: relative;
    top: -9px;
    left: 2px;

    font-family: 'Supermercado One', cursive;
    font-weight: 600;
    color: var(--mainColor);

    text-shadow: 0px 0px 8px rgb(30, 69, 92);

}
.aa-title:hover {
    color: rgb(226, 239, 247);
    text-shadow: 0px 0px 8px rgb(246, 249, 252);
}

.aa-content-box2 {
    /* background: rgb(170, 223, 26); */
    border-radius: 1vw;
    display: grid;

    height: 20px;

    position: relative;
    top: 1ch;
    left: -9ch;
}
.imgA-box {
    position: relative;
    right: 9ch;
    bottom: 2ch;

    height: 300px;
    width: 300px;
    z-index: 1;

    /* background-color: royalblue; */
    border-radius: 1vw;

    grid-row: 1;
    grid-column-start: 9;
    grid-column-end: 11;
}
.imgA {
    object-fit: cover;
    
    width: 150%;
    height: 150%;
}


.aa-content-box {
    position: relative;
    top: 5ch;
    left: 2ch;

    width: 97%;
    height: 53ch;
    display: flex;

    border-radius: 1vw;
    background-color: rgb(23, 27, 27);
}
/* /////////////////// */
.aa-content-1 {
    position: relative;
    top: .5ch;
    left: .3ch;

    width: 70%;
    height: 98%;
    /* display: grid; */

    margin-right: 1ch;
    border-radius: 1vw;
    border: 1px solid whitesmoke;

    background-color: rgb(18, 18, 20);
}
#aa-title-box{
    position: relative;
    top: 1ch;
    left: 2ch;

    width: 90%;
    height: 5ch;
    border-radius: 1vw;
    border: 1px solid white;

    background: linear-gradient(to right, rgb(9, 12, 14), rgb(3, 33, 46));
}
#aa-title-box >*{
    position: relative;
    left: 10px;
    bottom: 12px;
  
    font-family: 'Supermercado One', cursive;
    font-weight: 200;
    color: rgb(196, 238, 240);
    text-shadow: 0px 0px 15px rgb(47, 110, 146);
}
#aa-descript-box{
    position: relative;
    top: 2ch;
    left: 2ch;

    width: 60%;
    height: 35ch;
    border: 1px solid rgb(8, 80, 109);
    border-radius: 1vw;
  
    /* background: rgb(48, 50, 51); */
}
#aa-img-box{
    position: relative;
    top: -33ch;
    left: 70ch;

    width: 40ch;
    height: 35ch;

    border: 1px solid rgb(254, 254, 254);
    border-radius: 1vw;
}
#aa-descript{}
#aa-btn{
    position: relative;
    top: -35ch;
    left: 80ch;

    width: 45ch;
    height: 5ch;
    border-radius: 1vw;
    background: rgb(3, 33, 46);
    border: 2px solid rgb(8, 80, 109);
}
#aa-btn:hover{
    background: rgb(2, 22, 31);
}
#aa-btn-logo{
    position: relative;
    top: -9ch;
    left: 8ch;
  
    width: 5ch;
    height: 5ch;
  
    color: rgb(196, 238, 240);
    text-shadow: 0px 0px 15px rgb(47, 110, 146);
}

/* /////////////////// */

.aa-content-2 {
    position: relative;
    top: .5ch;
    left: -.5ch;

    width: 30%;
    height: 98%;
    display: grid;

    border-radius: 1vw;
    border: 1px solid whitesmoke;
    background: radial-gradient(circle, rgb(16, 32, 34), rgb(18, 38, 39), rgb(8, 90, 138), black);
    /* background-color: rgb(18, 18, 20); */
}
.aa-img-container {
    position: relative;
    top: 1ch;
    left: 2ch;

    width: 200px;
    height: 200px;

    background: rgb(133, 130, 130);
    border: 1px solid whitesmoke;
    border-radius: 150px;
    box-shadow: 0px 0px 10px 2px rgb(141, 151, 156);
}
.aa-img {
    position: relative;
    top: -4.7ch;
    right: 2ch;
    width: 254px;
    height: 254px;
    object-fit: cover;
}


/* BODY B */
.bodyB-container {
    height: 125ch;
    width: 97%;

    margin-bottom: 2ch;
    /* background-color: rgb(172, 2, 214); */
}

.b-container {
    position: relative;
    top: 1ch;
    left: 1ch;

    width: 98.7%;
    height: 115ch;
    border-radius: 1vw;
    border: 1px solid black;
    background-color: rgb(12, 24, 29);
    box-shadow: 0px 0px 15px 2px rgb(30, 69, 92);
}
.bb-container {
    position: relative;
    top: 1ch;
    left: 1ch;

    width: 98.7%;
    height: 110ch;
    border-radius: 1vw;
    border: 1px solid rgb(16, 79, 104);
    background-color: rgb(23, 27, 27);
    /* background-color: rgb(29, 32, 32); */
} 
.bb-title-box {
    position: relative;
    top: -1ch;
    left: 1ch;

    width: 45ch;
    height: 50px;
    border-radius: 1vw;
    border: 1px solid white;
    background: linear-gradient(to right, rgb(9, 12, 14), rgb(3, 33, 46));
}
.bb-title {
    position: relative;
    top: -9px;
    left: 5px;

    font-family: 'Supermercado One', cursive;
    font-weight: 600;
    color: var(--mainColor);

    text-shadow: 0px 0px 8px rgb(30, 69, 92);
}
.bb-title:hover {
    color: rgb(226, 239, 247);
    text-shadow: 0px 0px 8px rgb(246, 249, 252);
}

/* ///////////////////// */
.bb-content-box {
    position: relative;
    top: 1ch;
    left: 2ch;
    /* display: grid; */

    width: 97%;
    height: 78ch;

    border-radius: 1vw;
    background: rgb(23, 27, 27);
}

.bb-content-1 {
    position: relative;
    top: 1ch;
    left: 1ch;

    width: 40ch;
    height: 55ch;

    border-radius: 1vw; 
    border: 1px solid rgb(236, 246, 250);
    /* grid-column-start: 1;
    grid-column-end: 2;
    grid-row-start: 1;
    grid-row-end: 5; */
    background: radial-gradient(circle, rgb(174, 225, 233), rgb(18, 38, 39), black);
    box-shadow: 0px 0px 15px 2px rgba(221, 231, 236, 0.596);
}
.bb-content-1-title-box {
    position: relative;
    left: 1ch;
    top: 1ch;

    width: 70%;
    height: 20px;

    border-radius: 1vw;
    background: rgb(9, 16, 19);
    border: 1px solid white;
    box-shadow: 0px 0px 15px 2px rgba(2, 14, 22, 0.603);

    /* z-index: 1; */

}
.bb-content-1-title {
    position: relative;
    top: -18px;
    left: 3px;

    font-family: 'Supermercado One', cursive;
    font-weight: 200;

    color: var(--mainColor);
    /* z-index: 1; */

}
.bb-content-box-img {
    position: relative;
    left: 1ch;
    width: 100%;
    height: 100%;
    /* background: red; */
}
.bb-img-container {
    position: relative;
    top: 2ch;
    left: 1ch;

    width: 90%;
    height: 360px;

    /* background: gray; */
    border-radius: 1vw;

    display: grid;
    margin-bottom: -50ch;
}
.bb-img {
    position: relative;
    top: -1ch;
    right: 6ch;

    grid-row: 1;
    grid-column-start: 3;
    grid-column-end: 5;
    width: 380px;
    height: 380px;
}

.bb-content-2 {
    position: relative;
    top: -54ch;
    left: 45ch;

    width: 73%;
    height: 55ch;

    border-radius: 1vw;
    background-color: rgb(18, 18, 20);

    /* display: grid; */
}
.bb-content-2 >* {
    position: relative;
}
.time-box{
    top: 4.5ch;
    left: 15ch;

    width: 45ch;
    height: 5ch;


    border: 1px solid white;
    border-radius: 1vw;
    /* background: orange; */
}
.time-box >*{
    position: relative;
    left: 2ch;
    bottom: 1ch;

    font-family: 'Supermercado One', cursive;
    font-weight: 600;
    color: var(--mainColor);

    text-shadow: 0px 0px 8px rgb(30, 69, 92);
}
#tb{
    top: 5ch;
}
#project-box{
    top: 10px;

    width: 97%;
    height: 7ch;

    border: 1px solid white;
    border-radius: 1vw;
    background: linear-gradient(to right, rgb(9, 12, 14), rgb(3, 33, 46));
}
#project-box >*{
    position: relative;
    left: 2ch;
   
    font-family: 'Supermercado One', cursive;
    font-weight: 600;
    color: var(--mainColor);

    text-shadow: 0px 0px 8px rgb(30, 69, 92);
}
.icon-img{
    position: relative;
    left: -50px;
    bottom: 50px;

    width: 200px;
    height: 200px;

    /* z-index: 6; */
}
#icon-box{
    top: -6ch;
    left: 1ch;
    width: 13ch;
    height: 13ch;

    border: 1px solid white;
    border-radius: 1vw;
}

#descript-box{
    left: 1ch;
    bottom: 5ch;

    width: 59ch;
    height: 25ch;

    border: 1px solid white;
    border-radius: 1vw;
    color: aliceblue;

}
#video-box{
    left: 62ch;
    bottom: 45ch;

    width: 55ch;
    height: 35ch;

    border: 1px solid white;
    border-radius: 1vw;
    /* background: red; */
}
#b-vid{ 
    border-radius: 1vw;
}

#bb-btn{
    position: relative;
    top: -50ch;
    left: 71ch;

    width: 64ch;
    height: 5ch;
    border-radius: 1vw;
    background: rgb(3, 33, 46);
    border: 2px solid rgb(8, 80, 109);
}
#btn-text{
    position: relative;
    left: -4ch;
    bottom: 15px;

    right: 20ch;
    font-size: large;
}
#bb-btn:hover{
    background: rgb(2, 22, 31);
}
#bb-btn-logo{
    position: relative;
    top: -8.8ch;
    left: 5ch;
  
    width: 5ch;
    height: 5ch;
  
    color: rgb(196, 238, 240);
    text-shadow: 0px 0px 15px rgb(47, 110, 146);
}

/* //////////////////// */
.bb-content-3 {
    position: relative;
    bottom: 52ch;
    left: 1ch;

    display: flex;

    width: 99%;
    height: 43ch;

    border-radius: 1vw;
    background-color: rgb(18, 18, 20);
}
#attribute-box{
    position: relative;
    top: 1ch;
    left: 2ch;

    width: 108ch;
    height: 40ch;

    border: 1px solid white;
    border-radius: 1vw;

}
#chart-box{
    position: relative;
    left: 5ch;
    top: 1ch;

    width: 45ch;
    height: 40ch;

    border: 1px solid rgb(8, 80, 109);
    border-radius: 1vw;
}
/* ////////////// */


/* FOOTER */
.footer-container {
    height: 55ch;
    width: 97%;

    /* background-color: rgb(43, 42, 46); */
}
.c-container {
    position: relative;
    top: 1ch;
    left: 1ch;

    width: 98.7%;
    height: 50ch;

    border: 1px solid black;
    border-radius: 1vw;
    background-color: rgb(12, 24, 29);
    box-shadow: 0px 0px 15px 2px rgb(30, 69, 92);
}
.cc-container {
    position: relative;
    top: 1ch;
    left: 1ch;

    width: 98.7%;
    height: 90%;

    border: 1px solid rgb(16, 79, 104);
    border-radius: 1vw;
    background: rgb(14, 17, 17);
}
.cc-title-box {
    position: relative;
    top: -1ch;
    left: 1ch;
    
    width: 45ch;
    height: 50px;

    border: 1px solid whitesmoke;
    border-radius: 1vw;
    background: linear-gradient(to right, rgb(9, 12, 14), rgb(3, 33, 46));
}
.cc-title {
    position: relative;
    top: -9px;
    left: 5px;

    font-family: 'Supermercado One', cursive;
    font-weight: 600;
    color: var(--mainColor);

    text-shadow: 0px 0px 8px rgb(30, 69, 92);
}

.cc-content-box {
    position: relative;
    top: -1ch;
    left: 1ch;
    width: 98.4%;
    height: 85%;

    /* background: red; */
    border-radius: 1vw;
    display: flex;

}
.cc-content-box >* {
    position: relative;
    top: 2ch;
    left: 2ch;
}
.cc-content-1 {
    width: 57%;
    height: 90%;
    background: rgb(43, 42, 39);
    border-radius: 1vw;

    margin-right: 1ch;
}
.cc-content-1-title-box {
    position: relative;
    top: 1ch;
    left: 1ch;
    
    height: 15%;
    width: 30ch;
    background: rgb(37, 51, 51);

    border-radius: 1vw;
    border: 1px solid whitesmoke;
}
.cc-content-1-title {
    position: relative;
    left: 2ch;
    bottom: 5px;

    font-family: 'Supermercado One', cursive;
    font-weight: 600;
    color: var(--mainColor);

    text-shadow: 0px 0px 8px rgb(30, 69, 92);
}

.cc-content-2 {
    width: 40%;
    height: 90%;
    background: rgb(43, 42, 39);
    border-radius: 1vw;
}
.cc-content-2-title-box {
    position: relative;
    top: 1ch;
    left: 1ch;
    height: 15%;
    width: 30ch;
    background: rgb(37, 51, 51);

    border-radius: 1vw;
    border: 1px solid whitesmoke;
}
.cc-content-2-title {
    position: relative;
    left: 2ch;
    bottom: 5px;

    font-family: 'Supermercado One', cursive;
    font-weight: 600;
    color: var(--mainColor);

    text-shadow: 0px 0px 8px rgb(30, 69, 92);
}